<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="formulario" (ngSubmit)="submitForm()">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input formControlName="name" required></ion-input>
    </ion-item>
    <span *ngIf="(formulario.get('name').dirty || formulario.get('name').touched) && (formulario.controls.name.errors?.required)">Nome é necessario</span>

    <ion-button type="submit" expand="block" [disabled]="!formulario.valid">Submeter</ion-button>
  </form>
</ion-content>
